---
import MySiteLayout from "../layouts/MySiteLayout.astro"
---
<MySiteLayout pageTitle="David Strube Org"> 

  <header>
    <div class="header__text-wrapper">
      <div class="header___text-wrapper__inner-wrapper">
        <h1>Hello Dave</h1>
        <h2>Up and running</h2>
      </div>
    </div>
    <div class="header__image-wrapper"> <img src="src/assets/profile.jpeg" alt=""></div>
  </header>

</MySiteLayout>

<style>
  header {
    display: flex;
  }

  header > div {
    flex: 1 1 50%;
  }

  .header__image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .header__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header___text-wrapper__inner-wrapper h1 {

    font-size: 5rem;

  }

  .header___text-wrapper__inner-wrapper h2 {

    font-size: 2rem;

  }
</style>
