---

---

<div class="navWrapper">
    <div class="leftWrapper">
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="/projects/">Projects</a>
    </div>
    <a href="/socials/">Socials</a>
  </div>
  
  <style>
    .navWrapper {
      background-color: black;
      display: flex;
      justify-content: space-between;
    }
  
    .leftWrapper {
      display: flex;
    }
  
    a {
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
      padding: 20px;
    }
  
    a:hover {
      background: white;
      color: black;
    }
  </style>
  